@font-face {
    font-family: "Calculator";
    src: url("font/Calculator.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

:root {
    --cor1: #2c5c5a;
    --cor2: #b0e1e0;
    --cor3: #485c5b;
    --cor4: #51a8a5;
}

.container {
    background-color: #353535;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: var(--cor3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #0000003a;
}

.screen {
    color: var(--cor2);
    font-family: "Calculator";
    width: 100%;
    height: 70px;
    font-size: 35px;
    box-shadow: inset 2px 2px 5px #0000003a, inset -2px -2px 5px #0000003a;
    text-align: right;
    padding: 7px 15px;
    margin-bottom: 15px;
}

.current {
    font-size: 30px;
}

button {
    background-color: var(--cor2);
    color: var(--cor1);
    width: 60px;
    height: 60px;
    margin: 5px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

button:hover {
    background-color: var(--cor1);
    color: var(--cor2);
}

.operator {
    background-color: var(--cor4);
    color: var(--cor2);
}

.delete {
    width: 135px;
    border-radius: 60px;
}

.equal {
    width: 135px;
    border-radius: 60px;
}
